/pratica1/exercicio4/exdirigido/nbproject/private/
/pratica1/exercicio4/exdirigido/build/
/pratica1/exercicio4/exdirigido/dist/
/pratica1/ContaExdirigido/Exdirigido/nbproject/private/
/pratica1/ContaExdirigido/Exdirigido/build/
/pratica2/ex1/Concessionaria/nbproject/private/
/pratica2/ex2/TesteHeranca/nbproject/private/
/pratica2/ex2/TesteHeranca/build/
/pratica2/ex2/Exercicio3/nbproject/private/
/pratica3/exercicioInterfaces/nbproject/private/
/pratica3/aulaArrayAlura/nbproject/private/
/pratica3/aulaArrayAlura/build/
/pratica3/aulaArrayAlura/dist/
/pratica3/AtividadeSimulação/nbproject/private/
/pratica5/TelaConan/nbproject/private/
/pratica5/TelaConan/build/
/pratica5/SegundaTela/nbproject/private/
/pratica5/SegundaTela/dist/
/pratica5/SegundaTela/build/
/pratica5/Calculadora/nbproject/private/
/pratica5/Calculadora/build/
/pratica5/OlaJavaFx/nbproject/private/
/pratica5/OlaJavaFx/build/
/pratica5/OlaJavaFx/dist/
/pratica6/FormularioAluno/nbproject/private/
/pratica6/FormularioAluno/dist/
/pratica6/FormularioAluno/build/
/pratica7/ListaDeContatos/nbproject/private/
/pratica7/Celular/nbproject/private/
/pratica7/testePilha/nbproject/private/
/pratica7/testePilha/build/
/pratica7/OrganizacaoJava/nbproject/private/
/pratica7/OrganizandoJavaV2/nbproject/private/
/pratica8/OrganizandoJavaV2/build/
/pratica8/OrganizandoJavaV2/dist/
/pratica13/ServidorLixo/nbproject/private/
/pratica13/ServidorLixo/build/
/pratica13/ServidorLixo/dist/