/pratica1/exercicio4/exdirigido/nbproject/private/
/pratica1/exercicio4/exdirigido/build/
/pratica1/exercicio4/exdirigido/dist/
/pratica1/ContaExdirigido/Exdirigido/nbproject/private/
/pratica1/ContaExdirigido/Exdirigido/build/
/pratica2/ex1/Concessionaria/nbproject/private/
/pratica2/ex2/TesteHeranca/nbproject/private/